body {
  background: #006680;
  background: linear-gradient(0deg,rgba(0, 102, 128, 1) 0%, rgba(192, 201, 207, 1) 100%);

  font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

h1, h2, h3 {
  color: #006680;
  text-align: left;
}

h1 {
    margin: 0;
}

div {
  border: 0px;
  padding: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.snapshot {
  padding: 6px;
}

.not_selected_snapshot {
  background-color: rgba(192, 201, 207, 1);
  padding: 5px;
  border: 1px solid black;
}

.selected_snapshot {
  background-color: #006680;
  padding: 5px;
  border: 1px solid black;
}

.snapshot_link {
  text-decoration: none;
  color: black;
}

.selected_snapshot_link {
  color: white;
}

#sidebar {
  width: 250px;
  float: left;
  border-right: 1px solid;
}

#content {
/*   border-left: 1px solid; */
}

#error {

}

.error {
  color: red;
}
